@charset "UTF-8";
/* CSS Document */

html {
  background-image: url("imagenes/wallpaper.png");
}
h1
{
    color:black;
    text-align: center;
    background-color: #FE6400; 
}
div
{
    width: 100%;
    padding: 50px;
    border: 3px solid rgb(0, 0, 0);
    margin: 10;
    background-color: rgb(241, 234g, 225);
    text-align: center;
}
.logo {
    overflow-x: hidden;
    overflow-y: hidden;
    opacity: 1;
}
.btn{
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color:white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    background-color: #033d88!important;
    border-block-color: blue;
    padding: .5rem 1rem;   
    line-height: 1.5;
    border-radius: .3rem;  
}
td strong em {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 50px;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 10px 10px 1px rgba(80,96,81,0.58);
    opacity: 1;
    color: rgba(6,61,136,1.00);
}
