@charset "UTF-8";
.cuerpo .cabecera .logo {
    background-color: #C5D5E7;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    padding-left: 8%;
    padding-right: 0px;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cuerpo .cabecera .menu {
    width: 80%;
    background-color: #C2D3E7;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cuerpo .cabecera {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cuerpo {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}
.cabecera .logo img {
}
